h1, h2{
    text-align: center;
}

body{ 
    font: 20px Arial, sans-serif;
    width: 90%;
    margin: 0 auto;
}

img{
    display: block;
    height: 300px;
    width: 400px;
    margin: 10px;
}
img[src="liyka1.jpg"]{
    float: left;
}

img[src="liyka2.jpg"]{
    float: right;
    transition: transform 0.3s ease, filter 0.3s ease;
}

a[href="#point"] {
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    background-color: #33333328;
    color: #ffffff41; 
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    display: none; 
}

a[href="#point"]:hover {
    background-color: #555; 
}

p.first{
    font-style: italic;
    text-decoration: underline;
    color: rgb(185, 185, 0);
}

p.second{
    font-weight: 500;
}

p.third span{
    background-color: aqua;
}
/* Стилі для посилання та обгортки картинки */
p.third a {
    position: relative;
    display: block;
    float: right;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
}

p.third a:hover {
    transform: scale(1.1); /* Збільшуємо картинку на 10% */
    background-color: rgba(0, 0, 0, 0.7); /* Змінюємо колір фону на більш темний */
}
  
  
